/* Custome Styles   */



/*  Grid    */
*,
*::before
*::after    {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.col-1-3 {
    wi
}

.container,
.grid {
    margin: 0 auto;
    width: 960px;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

.group:before,
.group:after {
	content:"";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	clear: both;
	*zoom: 1;
}

/*  Clearfix   */



/*  Rows   */



/*  Typography   */

h1, h3, h4, h5, p {
    margin-bottom: 22px;
}

.logo {
    border-top: 4px solid #d7dae2;
    float: left;
    margin-top: 4px;
    padding-top: 5em;
    padding-right: 1em;
}

/*  Leads   */



/*  Links   */



/*  Buttons   */

    .btn {
        border-radius: 5px;
        display: inline-block;
        margin: 0;
    }

    .btn-alt {
        border: 1px solid #dfe2e5;
        padding: 10px 30px;
    }

/*  Primary header   */



/*  Primary footer   */

.primary-footer {
    padding-bottom: 44px;
    padding-top: 44px;
}

.primary-footer small {
    float: left;
    font-weight: 400;
}




/*  Navigation  */



/*  Home   */

.hero   {
    padding: 22px 80px 66px 80px
}

/*  Speakers   */



/*  Schedules   */



/*  Venue   */



/*  Register   */

<section class="grid">

<!-- Speakers -->

<secttion class="col-1-3"
...
</section><!--

Schedule

-->< <secttion class="col-1-3">
...

Venue

--><secttion class="col-1-3">
...
</section>

</section>







