html, body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 2vh;
    color: white;
    background-color: white;
}

#home {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center top;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header > span {
    margin-left: 3vw;
    font-size: 2em;
    line-height: 5rem;
    vertical-align: middle;
}

header > nav > a:last-child {
    margin-right: 3vw;
}

header > nav > A:nth-child(2) {
    margin-left: 3vw;
}

nav > a {
    color: white;
    text-decoration: none;
    margin-right: 3vw;
    line-height: 5em;
    vertical-align: middle;
}


.btn {
    display: block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid purple;
    }



    .element {
        /* top left, top right, bottom right, bottom left */
        border-radius: 5px 10px 15px 20px;
      }

      span p {
        margin: 0;
    }
    
    span {
        background-color: red;
        display: inline-block;
        border-radius: 50%;
    }