#mobile-menu {
    display: block;
    position: fixed;
    right: 2vw;
    top: 0%;
    font-size: 4rem;
    color: white;
    z-index: 2;
}
nav {
    display: none;
    right: 2vw;
    top: 4rem;
    font-size: 3em;
    align-items: center;
}
#mobile-menu:target ~ nav {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}
nav > a {
    border: 0;
    padding: .5em;
}
nav > div {
    margin-top: 1em;
}
nav > div > a:first-child {
    border: 0;
}
header {
    margin-top: 0;
}
#intro, .boxes {
    flex-direction: column;
    min-height: 50vh;
    box-sizing: border-box;
}
.side1, .side2 {
    min-width: 80vw;
    max-width: 80vw;
    margin-bottom: 2em;
}
.box {
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 0;
}
