#block1 {
    position: absolute;
    width: 10%;
    height: 10%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 0, 0.5);
    opacity: 1;
    transition: 3s ease;
}

#block2 {
    position: absolute;
    width: 10%;
    height: 10%;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 0, 0, 0.5);
    transform: translate (-50% -50%);
}

#move {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
}

#size {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    left: 55%;
}

#opacity {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    left: 60%;
}

#color {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    left: 65%;
}

#block1.move {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50% -50%);
}

#block1.size {
    width: 20%;
    height: 20%;
}

#block1.opacity {
    opacity: .25;
}

#block1.color {
    background-color: green;
}
