nav {
    background-color: blue;
    display: flex;
    justify-content: center;
}

a {
    color: cyan;
    margin: 10px;
}

.content {
    font-size: 14pt;
    font-style: italic;
}

.teaser a:hover h3 {
    color: #a9b2b9;
}
